html,body {
  width: 100%;
  height: 100%;
}

.jdc {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: 45px;
  background-image: url("../images/header-bg.png");
  background-size: 1px 44px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

header .search-box {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

header .search-box input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  margin-top: 7px;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

/* 
在很多移动端布局的时候 都把box-sizing给所有元素这样可以不需要专门去计算布局 以后如果布局变了 也不会打乱整体布局
* {
  box-sizing: border-box;
} */

header .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 44px;
  background-image: url("../images/jd-sprites.png");
  background-size: 200px 200px;
  background-position: -23px 2px;
  padding: 10px 11px;
  box-sizing: border-box;
  background-origin: content-box;
  background-clip: content-box;
}

header .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 44px;
  background-image: url("../images/jd-sprites.png");
  background-size: 200px 200px;
  background-position: -58px 2px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-origin: content-box;
  background-clip: content-box;
}

/* 主要区域 */

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 45px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

aside {
  width: 90px;
  height: 100%;
  /* background-color: orange; */
  /* 网页自己出现的滚动条不好 */
  /* overflow-y: scroll; */

  overflow: hidden;
}

aside ul {
  width: 100%;
}

aside li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;

  line-height: 50px;
  text-align: center;
  font-size: 13px;
}

aside li.active {
  background-color: #fff;
  color: #C91523;
  border-color: transparent;
}

article {
  /* width: 并不知道 是自适应的 */
  flex: 1;
  height: 100%;
  /* background-color: olive; */
  background-color: #fff;
  padding: 0 11px 0 13px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.hotsale {
  width: 100%;
}

.hotsale h4,.sale-girl  h4 {
  /* font-weight: normal; */
  font-size: 12px;
  color: #666;
  margin-top: 18px;
  margin-bottom: 10px;
}

.hotsale ul {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
}

.hotsale li {
  float: left;
  width: 33.333333%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
}

.sale-girl {
  width: 100%;
  padding-bottom: 20px;
}

.sale-girl ul {
  border:none;
  width: 100%;
  overflow: hidden;
}

.sale-girl li {
  float: left;
  width: 33.3333%;
  height: auto;
  border:none;
}

.sale-girl  a {
  display: block;
  width: 100%;
}

.sale-girl img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.sale-girl li span{
  margin-top: 8px;
  display: block;
  text-align: center;
  line-height:  1;
}