/* 顶部导航 */
.lt-header {
  background-color: #006699;
}

.lt-header h1 {
  color: #fff;
}

.lt-header .lt-header-search {
  line-height: 44px;
  font-size: 22px;
  color: #fff;
}



/* 底部工具 */
.lt-tool {
  background-color: #006699;
}

.lt-tool .mui-tab-item {
  color: #fff;
}

.lt-tool .mui-tab-item.mui-active {
  color: darkorange;
}

.lt-tool .mui-tab-item b {
  display: block;
  font-size: 12px;
}