/* 右边导航圆点 */
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  transform: translate3d(0,0,0);
}

#fp-nav.right {
  right: 17px;
}

#fp-nav ul li{
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position:relative;
}

#fp-nav ul li a{
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span{
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

/* 模块一: 标题 */

.qbh-title {
  position: relative;
  background-image: url("../img/qbh-title-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.qbh-title .name {
  position: absolute;
  right: 20%;
  bottom: 580px;

  animation: animationTitle 3s infinite linear;
}

.qbh-title .extra {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
}

.qbh-title .sofa {
  position: absolute;
  bottom: 329px;
  left: 50%;
  margin-left: -200px;

  animation: animationSofa 1.5s infinite linear;
}


@keyframes animationSofa {
  50% {
    bottom: 350px;
  }
  100% {
    bottom: 330px;
  }
}

@keyframes animationTitle {
    0% {
        bottom: 580px
    }
    50% {
        bottom: 520px
    }
    100% {
        bottom: 580px
    }
}
/* 模块二: 商品列表 */

.qbh-list {
  position: relative;
  background-image: url("../img/qbh-list-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.qbh-list .desc {
  position: absolute;
  bottom: 500px;
  left: 50%;
  margin-bottom: 50px;
  transform: translateX(-50%);
}

.qbh-list .desc img:nth-child(1) {
  height: 0;
} 

.qbh-list .screen {
  width: 990px;
  height: 500px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -495px;
} 

.qbh-list .screen .search-box {
  position: absolute;
  bottom: 300px;
  /* right: -30px; */
  right:  370px;
  width: 222px;
  height: 45px;
  background-image: url("../img/qbh-list-search-box.png");
  background-repeat: no-repeat;
  /* display: none; */
}

.qbh-list .search-box img {
  position: relative;
  left: 70px;
  font-size: 1.6em;
  letter-spacing: 10px;
  /* opacity: 0; */
}

.qbh-list .screen .list-search {
  position: absolute;
  right: 370px;
  bottom: 300px;
  display: none;
}



.qbh-list .screen .sofa-pic {
  position: absolute;
  left: 395px;
  bottom: 335px;
  width: 100px;
  z-index: 10;
  display: none;
}

.qbh-list .screen .list-sofas {
  position: absolute;
  bottom: 217px;
  right: 270px;
  height: 100px;
  display: none;
}